@font-face {
  font-family: "Hanken Grotesk";
  src: url("./public/assets/fonts/HankenGrotesk-VariableFont_wght.woff2");
}

/* ------------------- CSS Reset ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*:focus-visible {
  outline: 0.125rem dotted red;
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

/* ------------------- CSS Variables ------------------- */
:root {
  --ff-hanken-grotesk: "Hanken Grotesk", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-body: 1.125rem;
  --fs-heading-m: 1.5rem;
  --fs-heading-l: 2rem;
  --fs-heading-xl: 4.5rem;

  --clr-white: hsl(0, 0%, 100%);

  --clr-dark-navy: hsl(224, 30%, 27%);
}

body {
  font-family: var(--ff-hanken-grotesk);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  background-color: grey;
}

.main {
  background-color: red;
  max-width: 24rem;
  padding-inline: 1.875rem;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button {
  width: 100%;
  color: var(--clr-white);
  background-color: var(--clr-dark-navy);
  border: none;
  border-radius: 100vw;
  padding: 1rem;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(#6943ff, #2f2ce9);
}
