@font-face {
  font-family: "Hanken Grotesk";
  src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.woff2");
}

/* ------------------- CSS Reset ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus-visible {
  outline: 0.125rem dotted #2f2ce9;
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button {
  font: inherit;
}

/* ------------------- CSS Variables ------------------- */
:root {
  --ff-hanken-grotesk: "Hanken Grotesk", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-800: 3.5rem;
  --fs-900: 4.5rem;

  --clr-white: hsl(0, 0%, 100%);

  --clr-red: 0, 100%, 67%;
  --clr-green: 166, 100%, 37%;
  --clr-blue: 234, 85%, 45%;
  --clr-yellow: 39, 100%, 56%;

  --clr-light-blue: 241, 100%, 89%;
  --clr-very-light-blue: 221, 100%, 96%;
  --clr-dark-navy: 224, 30%, 27%;
}
/* ------------------- End of CSS Variables ------------------- */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-hanken-grotesk);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  background-color: hsl(var(--clr-very-light-blue));
  min-height: 100vh;
}

.component {
  max-width: 24rem;
  background-color: var(--clr-white);
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  color: hsl(var(--clr-light-blue));
  background: linear-gradient(#6943ff, #2f2ce9);
  border-radius: 0 0 40px 40px;
  padding: 2rem;
}

.result__heading {
  font-size: var(--fs-500);
}

.result__score {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4d21c9, hsl(241, 72%, 46%, 0.1));
  border-radius: 100vw;
}

.result__score--achieved {
  font-size: var(--fs-800);
  color: var(--clr-white);
}

.result__text {
  display: grid;
  gap: 0.5rem;
}

.result__grade {
  font-size: var(--fs-500);
  color: var(--clr-white);
}

.result__comparison {
  font-weight: var(--fw-medium);
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.summary__heading {
  font-size: var(--fs-500);
  color: hsl(var(--clr-dark-navy));
}

.summary__items {
  display: grid;
  gap: 1rem;
}

.summary-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-medium);
  border-radius: 12px;
  padding: 1rem;
}

.summary-item--reaction {
  color: hsl(var(--clr-red));
  background-color: hsl(var(--clr-red), 0.1);
}

.summary-item--memory {
  color: hsl(var(--clr-yellow));
  background-color: hsl(var(--clr-yellow), 0.1);
}

.summary-item--verbal {
  color: hsl(var(--clr-green));
  background-color: hsl(var(--clr-green), 0.1);
}

.summary-item--visual {
  color: hsl(var(--clr-blue));
  background-color: hsl(var(--clr-blue), 0.1);
}

.summary-item__icon-category-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-grow: 1;
}

.summary-item__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.summary-item__score {
  font-weight: var(--fw-bold);
}

.achieved-score {
  color: hsl(var(--clr-dark-navy));
}

.total-score {
  color: hsl(var(--clr-dark-navy), 0.75);
}

.button {
  width: 100%;
  color: var(--clr-white);
  background-color: hsl(var(--clr-dark-navy));
  border: none;
  border-radius: 100vw;
  padding: 1rem;
}

.button:active {
  cursor: pointer;
  background: linear-gradient(#6943ff, #2f2ce9);
}

/* ------------------- Media Queries ------------------- */
@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    background: linear-gradient(#6943ff, #2f2ce9);
  }
}

@media (min-width: 48rem) {
  .component {
    max-width: 46rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 32px;
  }

  .result {
    border-radius: 32px;
    padding: 2.5rem 3rem;
  }

  .result__score {
    width: 12.5rem;
    height: 12.5rem;
  }

  .result__score--achieved {
    font-size: var(--fs-900);
  }

  .result__grade {
    font-size: var(--fs-600);
  }

  .summary {
    padding: 2.5rem;
  }

  .button {
    margin-top: 1rem;
  }
}
